# more secrets
dist
api/data/*.csv
api/data/*.json

# Secrets
.env
license-keys.txt

# Build outputs
*.zip
release-*/

# Logs
logs
*.log

# Ignore local PDFs
*.pdf

# Node modules
node_modules/

#licenses

services/stripe/data

# runtime
data/

# build
dist/
node_modules/

*~
